[flake8]
max-line-length = 120
application-import-names = dmoj,judge,django_ace
import-order-style = pycharm
enable-extensions = G
exclude = alembic
ignore =
    W504, # line break occurred after a binary operator
    # allow only generator_stop and annotations future imports
    FI10,FI11,FI12,FI13,FI14,FI15,FI16,FI17,FI18,FI55,FI58,
    C814, F401, # missing trailing comma in Python 2 only