alembic==1.6.3
beautifulsoup4==4.9.3
hikari==2.0.0.dev122
hikari-lightbulb==2.3.5
matplotlib==3.3.4
multidict==5.1.0
numpy==1.20.1
pandas==1.2.2
Pillow==8.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.0
scipy==1.6.0
seaborn==0.11.1
SQLAlchemy==2.0.23
psycopg2==2.9.9
